langchain
python-dotenv
langchain-openai
beautifulsoup4
langchain_community
faiss-cpu
langchain
langchain-core
ipykernel
langchain-classic
streamlit
langchain_groq
fastapi
uvicorn
pydantic
langserve
transformers
langchain-chroma
langchain_huggingface
sentence-transformers




